.favorites {
    min-height: 70vh;
    padding-top: 15vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Indie Flower', cursive;
}