.day {
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    border-right: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:last-child{
        border: none;
    }

    h2,p {
        margin: 0;
    }

    img {
        height: 1.8rem;
    }
}


.day-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.degrees {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px 0;

    :nth-child(1) {
        font-size: .9rem;
        color: #b4a9a9;
        
        font-weight: 700;
        margin-right: 5px;
    }
    :nth-child(2) {
        font-size: 1.2rem;
        color: #eeeeee;
        font-weight: 900;
    }

}

@media screen and (max-width: 500px) {

    .day {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        clip-path: none;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 0;
        border-right: none;
        border-bottom: 1px solid #eeeeee;

        &:last-child{
            border: none;
        }

        h2 { 
            font-size: 1.3rem;
        }
    
        img {
            height: 1.8rem;
        }
    }

    .day-body { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 30%;

        p { 
            display: none;
        }


    }
    

}