.locations {
    margin: 0;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 320px));
    grid-gap: 10px 20px;
    justify-content: space-evenly;
    transition: .4s ease;

    a { 
        text-decoration: none;
        color: white;
    }
}