.App {
  text-align: center;
}


.header a.active {
  font-size: 1.6rem;
  color: #2b4348;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
