.add-btn{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
    color: #ff000082;
    transition: .3s ease;

    &:hover {
        color: #ff0000;
        text-shadow: 0px 0px 5px #ff000082;
    }
}